.booking {
  text-align: center;
  background: $background-basic;
  padding: 33px 20px 49px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 59px 155px 40px 155px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 53px;
  }
}

.booking__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 220px;
    justify-content: flex-start;
    width: 458px;
  }
}

.booking__title {
  @include font($titles-big-font-size, 26px, bold);
  margin-top: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: $titles-extra-big;
    margin-bottom: 32px;
  }
}

.booking__text {
  @include plain-text;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
  }
}

@media (max-width: $mobile-width-only) {
  .booking__text .booking__new-line {
    display: none;
  }
}

.booking__link {
  width: 100%;
  max-width: 458px;
  padding-top: 16px;
  padding-bottom: 16px;
}
