.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.copyright__text {
  @include font($basic-font-size, 26px, normal);
  margin: 0 12px 0 0;
}

.copyright__link {
  display: block;
  margin-top: -5px;
}

.copyright__link:hover .copyright__logo,
.copyright__link:focus .copyright__logo {
  fill: $basic-button-color;
}

.copyright__link:active .copyright__logo {
  fill: rgba($color-black, 0.3);
}
