.features-list {
  @include list-style-none;
}

.features-list__item {
  text-align: center;
  background-color: $background-features;
  margin-top: 0;
}

.features-list__item--highlighted {
  color: $extra-font-color;
  background-color: $background-highlighted;
}

.features-list__title {
  @include font($titles-font-size, 26px, bold);
  margin-bottom: 21px;
}

.features-list__number,
.features-list__description {
  @include font($basic-font-size, 21px, normal);
}

.features-list__number,
.features-list__title {
  margin-bottom: 21px;
}
