.features-sublist {
  @include list-style-none;
  color: $basic-font-color;
  text-align: left;
  background-color: $background-basic;
  padding-top: 26px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features-sublist__title {
  @include font($titles-font-size, 26px, bold);
  margin-top: 0;
  margin-bottom: 21px;
}

.features-sublist__description {
  @include plain-text;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
