.features-sublist {
  @include list-style-none;
  color: $basic-font-color;
  background-color: $background-basic;
  padding: 26px 20px 35px 21px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 44px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "accomodation food souveniers";
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

@media (min-width: $tablet-width) {
  .features-sublist__item--accomodation {
    grid-area: accomodation;
  }

  .features-sublist__item--souvenirs {
    grid-area: souveniers;
  }

  .features-sublist__item--food {
    grid-area: food;
  }
}

.features-sublist__item {
  position: relative;
  margin-bottom: 17px;
  padding-top: 100px;
  padding-left: 33px;
  padding-right: 31px;

  @media (max-width: $mobile-width-only) {
    padding: 10px 0 0 49px;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-right: 55px;
    padding-left: 55px;
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .features-sublist__new-line {
    display: none;
  }
}

.features-sublist__item:last-child {
  margin-bottom: 0;
}

.features-sublist__title {
  @include font($titles-font-size, 26px, bold);
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: $titles-big-font-size;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.features-sublist__description {
  @include plain-text;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.features-sublist__item--accomodation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 72px;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features-sublist__item--souvenirs::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 75px;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.features-sublist__item--food::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 3px;
  left: -3px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 68px;
    background-size: cover;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: $tablet-width) {
  .features-sublist__new-line--desktop {
    display: none;
  }
}
