.features-list {
  @include list-style-none;
  background-color: $background-features;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "f1 f1 f1"
      "f1 f1 f1"
      "f2 f2 f2"
      "f3 f4 f5";
  }
}

.features-list__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.features-list__item:not(.features-list__item--highlighted) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 26px 26px 24px 26px;

  @media (max-width: $tablet-width) {
    padding: 41px 34px 41px 33px;
  }

  @media (max-width: $desktop-width) {
    padding-top: 43px;
  }
}

.features-list__item--highlighted .features-list__top-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    max-width: 256px;
    padding: 40px 32px 43px 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 400px;
    padding: 47px 52px 56px 53px;
  }
}

.features-list__top-container--house {
  @media (max-width: $mobile-width-only) {
    padding: 55px 12px 39px 13px;
    width: 320px;
  }
}

.features-list__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    max-width: 512px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.features-list__item {
  text-align: center;
  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 24px;

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-area: f3;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      grid-area: f4;
    }
  }

  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      grid-area: f5;
    }
  }
}

.features-list__number,
.features-list__description {
  @include plain-text;
  line-height: 21px;
}

.features-list__item--highlighted {
  color: $extra-font-color;
  background-color: $background-highlighted;
  padding-top: 39px;
  padding-bottom: 35px;
}

.features-list__item--highlighted .features-list__number,
.features-list__item--highlighted .features-list__description {
  color: $extra-font-color;
}

.features-list__item--house {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-area: f1;
  }
}

.features-list__item--rocks {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-area: f2;
    flew-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.features-list__title {
  @include font($titles-font-size, 26px, bold);

  @media (min-width: $tablet-width) {
    font-size: $titles-big-font-size;
  }
}

.features-list__number,
.features-list__title {
  margin: 0 0 21px 0;
}
