.features-list {
  @include list-style-none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "f1 f1 f1"
      "f1 f1 f1"
      "f2 f2 f2"
      "f3 f4 f5";
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features-list__item-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (max-width: $mobile-width-only) {
  .features-list__title .feautures-list__new-line {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .feautures-list__new-line--desktop {
    display: none;
  }

  .feautures-list__new-line--tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .feautures-list__new-line--tablet {
    display: none;
  }

  .feautures-list__new-line--desktop {
    display: inline;
  }
}

.features-list__item:not(.features-list__item--highlighted) {
  box-sizing: border-box;
  background-color: $background-features;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 26px 33px 26px 33px;

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 34px 41px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 62px;
    padding-left: 34px;
  }
}

.features-list__item {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin-top: 0;
  padding-top: 26px;
  padding-bottom: 24px;

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      grid-area: f3;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tablet-width) {
      grid-area: f4;
    }
  }

  &:nth-child(5) {
    @media (min-width: $tablet-width) {
      grid-area: f5;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .features-list__item:not(.features-list__item--highlighted):not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 87.5%;
    height: 1px;
    background-color: $color-alto;
  }
}

.features-list__item--highlighted .features-list__top-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 45px 57px 56px 57px;
  }
}

.features-list__top-container--house {
  @media (max-width: $mobile-width-only) {
    padding: 42px 11px 39px 13px;
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    padding: 37px 30px 43px 30px;
  }
}

.features-list__top-container--rocks {
  @media (min-width: $tablet-width) and (max-width: $tablet-width) {
    padding: 45px 30px 43px 30px;
  }
}

.features-list__description {
  margin-bottom: 0;
}

.features-list__description .feautures-list__new-line {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.features-list__number,
.features-list__description {
  @include plain-text;
  line-height: 21px;
  margin-top: 0;
}

.features-list__item--highlighted {
  color: $extra-font-color;
  background-color: $background-highlighted;
  padding-top: 0;
  padding-bottom: 0;

  @media (max-width: $mobile-width-only) {
    padding-top: 30px;
  }
}

.features-list__item--highlighted .features-list__img-container {
  width: 320px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    max-width: 512px;
    height: 256px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.features-list__item--highlighted .features-list__number,
.features-list__item--highlighted .features-list__description {
  color: $extra-font-color;
}

.features-list__item--house {
  position: relative;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    grid-area: f1;
  }
}

@media (max-width: $mobile-width-only) {
  .features-list__item--house::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 37px;
    background-image: url("../img/features-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.features-list__item--house .features-list__img-container {
  background-color: $background-highlighted;
  background-image: url("../img/features-city-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/features-city-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/features-city-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features-city-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/features-city-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/features-city-desktop@2x.jpg");
    }
  }
}

.features-list__item--rocks .features-list__img-container {
  background-color: $background-highlighted;
  background-image: url("../img/rocks-mobile@1x.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rocks-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/rocks-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rocks-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/rocks-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rocks-desktop@2x.jpg");
    }
  }
}

.features-list__item--rocks {
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    grid-area: f2;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.features-list__item--rocks .features-list__top-container {
  padding-bottom: 37px;

  @media (min-width: $desktop-width) {
    padding: 53px 78px 51px 79px;
  }
}

.features-list__title {
  @include font($titles-font-size, 26px, bold);
  margin: 0 0 10px 0;

  @media (min-width: $tablet-width) {
    font-size: $titles-big-font-size;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.features-list__number {
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.features-list__item:not(.features-list__item--highlighted) .features-list__number {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

@media (max-width: $tablet-width) {
  .feautures-list__new-line--desktop {
    display: none;
  }
}
