.feedback {
  margin-bottom: 38px;
}

.feedback__intro {
  padding: 37px 20px 17px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 250px;
  }
}

.feedback__intro .intro__title {
  margin-bottom: 27px;
}

.feedback__intro .intro__description {
  line-height: 24px;
}
