.feedback {
  box-sizing: border-box;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
  }
}

.feedback__intro {
  padding: 37px 20px 16px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 250px;
    padding: 0 167px 17px 166px;
  }

  @media (min-width: $desktop-width) {
    min-height: 210px;
    padding-right: 384px;
    padding-bottom: 0;
    padding-left: 382px;
    margin-right: auto;
    margin-left: auto;
  }
}

.feedback__intro .intro__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: $titles-extra-big;
    margin-bottom: 30px;
  }
}

.feedback__intro .intro__description {
  line-height: 24px;
}
