.feedback-form {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $background-basic;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
    width: 1200px;
  }
}

.feedback-form__button {
  width: 280px;
  padding-top: 19px;
  padding-bottom: 13px;
  display: inline-block;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.feedback-form__fieldset {
  &--user-info {
    @media (min-width: $tablet-width) {
      width: 50%;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 39px;
    }
  }

  &--user-contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--trip-rate {
    @media (min-width: $tablet-width) {
      order: -1;
      width: 50%;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 39px;
    }
  }

  &--review {
    margin-bottom: 45px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }
}

.feedback-form__fieldset--user-contacts,
.feedback-form__fieldset--visited-sights,
.feedback-form__fieldset--review {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback-form__bottom-container {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.feedback-form__bottom-container .fieldset__hidden {
  color: $mine-shaft;
  margin-top: 24px;
  margin-bottom: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.feedback-form__hidden {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
