.fieldset {
  position: relative;
  background-color: $background-basic;
  box-sizing: border-box;
  border: 0;
  margin: 0;

  &--user-info {
    padding: 20px 0 24px 0;
  }

  &--user-contacts {
    padding: 20px 0 25px 0;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &--trip-rate {
    padding: 20px 0 27px 0;
  }

  &--visited-sights {
    padding: 15px 0 21px 0;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &--review {
    padding: 20px 0 0 0;
    margin-bottom: 51px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }
  }
}

.fieldset__legend {
  @include font($titles-font-size, 26px, bold);
  padding-top: 22px;
  text-align: center;
}

.fieldset::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 114%;
  height: 1px;
  overflow: hidden;
  background-color: $color-mercury;
}

.fieldset__label {
  @include plain-text;
  line-height: 26px;

  &--trip-rate,
  &--visited-sights {
    @include font($titles-font-size, 26px, bold);
    color: $basic-font-color;
    text-transform: none;
  }
}

.fieldset__input {
  font-family: $basic-font-family;
  box-sizing: border-box;

  @include font($titles-font-size, 26px, bold);
  text-transform: none;
  color: $basic-font-color;
  background-color: $color-white-smoke;
  height: 58px;
  margin: 0;
  border: none;
  align-self: flex-start;
  padding-top: 4px;
  padding-left: 24px;
  flex-grow: auto;
  width: 100%;

  &--user-info {
    box-sizing: border-box;
  }

  &--user-contacts {
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      width: 315px;
    }
  }
}

.fieldset__input::placeholder,
.fieldset__textarea {
  font-family: $basic-font-family;

  @include font($titles-font-size, 26px, bold);
  text-transform: none;
  color: $basic-font-color;
}

.fieldset__list {
  @include list-style-none;
}

.fieldset--user-info .fieldset__legend {
  margin-bottom: 0;
}

.fieldset--user-contacts .fieldset__legend {
  margin-bottom: -5px;

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.fieldset--trip-rate .fieldset__legend {
  margin-bottom: 18px;
}

.fieldset--user-info .fieldset__legend,
.fieldset--trip-rate .fieldset__legend {
  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.fieldset__paragraph {
  margin-top: 0;
  display: flex;
  justify-content: space-between;

  &--user-info {
    margin-bottom: 20px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }

  &--user-contacts {
    margin-bottom: 14px;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 34px;
      right: 0;
      background-color: $color-dark-grey;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $desktop-width) {
        top: 0;
      }
    }

    &--phone {
      &::after {
        width: 18px;
        height: 18px;
        padding: 20px 19px 20px 21px;
        background-image: url("../img/phone-icon.svg");

        @media (min-width: $desktop-width) {
          right: 79px;
        }
      }

      @media (min-width: $desktop-width) {
        padding-right: 79px;
      }
    }

    &--mail {
      &::after {
        width: 16px;
        height: 12px;
        padding: 23px 21px;
        background-image: url("../img/mail-icon.svg");
      }
    }

    @media (min-width: $desktop-width) {
      width: min-content;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.fieldset__paragraph:last-child {
  margin-bottom: 0;
}

.fieldset__paragraph--user-info .fieldset__label {
  margin-right: 12px;
}

.fieldset__paragraph--user-contacts .fieldset__label {
  margin-left: 22px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin-right: 17px;
    margin-bottom: 0;
  }
}

.fieldset__paragraph--user-contacts .fieldset__hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.fieldset--visited-sights .fieldset__legend {
  padding-top: 17px;
}

.fieldset--visited-sights .fieldset__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.fieldset--visited-sights .fieldset__option {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.fieldset__textarea {
  /*width: 100%;*/
  box-sizing: border-box;
  padding: 13px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.fieldset__label--trip-rate {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: -78px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $color-white-smoke;
  }
}

.fieldset__list--trip-rate .fieldset__option {
  padding-left: 78px;
  margin-bottom: 28px;
}

.fieldset__list--trip-rate .fieldset__option:not(:first-child) {
  padding-top: 15px;
}

.fieldset__list--trip-rate .fieldset__option:last-child {
  margin-bottom: 12px;
}

.fieldset__input--radio:checked + .fieldset__label--trip-rate::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -61px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $mine-shaft;
}
