.intro {
  background-color: $background-basic;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  @include font($titles-font-size, 26px, bold);
  margin-top: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: $titles-big-font-size;
  }
}

.intro__description {
  @include plain-text;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}
