.intro {
  background-color: $background-basic;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  @include font($titles-font-size, 26px, bold);
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    font-size: $titles-big-font-size;
  }
}

.intro__description {
  @include plain-text;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

.intro--photo {
  width: 290px;
  padding-right: 14px;
  padding-bottom: 31px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    width: 458px;
    padding-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 79px;
  }
}

.intro--photo .intro__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: $titles-extra-big;
    margin-bottom: 32px;
  }
}

.intro--photo .intro__description {
  line-height: 24px;
}

@media (max-width: $mobile-width-only) {
  .into__new-line--photo {
    display: none;
  }
}
