.likes-container {
  background-color: transparent;
  max-width: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (min-width: $tablet-width) {
    height: min-content;
    align-items: center;
  }
}

.likes-container__counter {
  @include font($basic-font-size, 24px, bold);
  margin: 0;
  margin-top: 2px;
  display: flex;
  flex-direction: flex-start;

  @media (min-width: $desktop-width) {
    color: $extra-font-color;
  }
}

.likes-container__button {
  margin-top: -3px;
  margin-right: 10px;
}
