.main-nav {
  background-color: $background-basic;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 56px;

  @media (min-width: $tablet-width) {
    background-color: $background-basic;
  }
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  bottom: 17px;
  order: 2;
  display: block;
  width: 23px;
  height: 22px;
  background-color: $background-basic;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: $background-highlighted;
  box-shadow: 0 9px 0 0 $background-highlighted, 0 18px 0 0 $background-highlighted;
}

.main-nav__toggle:hover::before,
.main-nav__toggle:focus::before {
  background-color: $basic-button-hover;
  box-shadow: 0 9px 0 0 $basic-button-hover, 0 18px 0 0 $basic-button-hover;
}

.main-nav__toggle:active::before {
  background-color: $basic-button-active;
  box-shadow: 0 9px 0 0 $basic-button-active, 0 18px 0 0 $basic-button-active;
}
