.page-footer {
  background-color: $background-basic;
  box-sizing: border-box;
  padding: 36px 20px 26px 20px;
  min-height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    padding: 36px 60px;
  }
}
