.page {
  height: 100%;
}

.page__body {
  font-family: $basic-font-family;
  font-size: $basic-font-size;
  text-transform: uppercase;
  color: $basic-font-color;

  background-color: $background-body;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page__container {
  background-color: $background-basic;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  width: 100%;
  /*max-width: 1200px;*/

  @media (max-width: $mobile-width-only) {
    max-width: 320px;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    box-shadow: 0 5px 15px $color-black-opacity-low;
  }
}
