.page {
  height: 100%;
}

.page__body {
  font-family: $basic-font-family;
  font-size: $basic-font-size;
  text-transform: uppercase;
  color: $basic-font-color;

  background-color: $background-body;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

.page__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}
