.page-footer {
  background-color: $background-basic;
  box-sizing: border-box;
  padding: 40px 20px 18px 20px;
  min-height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 120px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 120px;
  }
}

.page-footer__sedona-hashtag {
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
    margin-bottom: 0;
  }
}

.page-footer__social-list {
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: -8px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    margin-top: 9px;
  }
}
