.photo-article {
  background-color: $background-basic;
  padding: 22px 0 21px 0;
}

.photo-article__description {
  @include font($basic-font-size, 24px, bold);
  margin: 0;
}

.photo-article__author {
  @include plain-text;
  line-height: 24px;
  text-transform: none;
}
