.photos-list {
  @include list-style-none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.photos-list__item--highlighted {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.photos-list__item {
  position: relative;
  box-sizing: border-box;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-mercury;
    border-collapse: collapse;
    padding: 22px 20px 15px 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .photos-list__item:last-child {
    border-bottom: 1px solid $color-mercury;
  }
}

.photos-list__item:nth-child(2n + 3) .photo-article__about {
  @media (min-width: $tablet-width) {
    background-color: $color-gallery;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($color-black, 0.3);
  }
}

.photo-article__image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.photos-list__item--highlighted .photo-article__image {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
