.photo-article {
  background-color: $background-basic;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    overflow: hidden;
  }
}

.photo-article__link {
  margin-bottom: 11px;
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.photo-article__image {
  width: 280px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 267px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 267px;
  }
}

.photo-article__about {
  @media (min-width: $tablet-width) {
    background-color: $color-white-smoke;
    width: 100%;
    height: 80px;
    padding: 10px 30px 10px 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba($color-black, 0.3);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 21px;
  }
}

.photo-article--highlighted .photo-article__about {
  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.photo-article__title-container {
  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    color: $extra-font-color;
  }
}

.photo-article__description {
  @include font($basic-font-size, 24px, bold);
  margin: 0;
}

.photo-article__author {
  @include plain-text;
  line-height: 24px;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    color: $extra-font-color;
  }
}

.photo-article__likes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: $desktop-width) {
    color: $extra-font-color;
  }
}
