.promo-main {
  position: relative;
  width: 100%;
  padding-top: 77px;
  padding-bottom: 57px;
  box-sizing: border-box;
  height: 389px;
  background: $background-spare;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 90px;
    background-image: url("../img/promo-back-mobile@1x.jpg");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-mobile@2x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/promo-back-tablet@1x.jpg");
    height: 518px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/promo-back-desktop@1x.jpg");
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-back-desktop@2x.jpg");
    }
  }
}

.promo-main__slogan {
  min-width: 282px;
  min-height: 214px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
  }
}

.promo-main::after {
  content: "";
  position: absolute;
  z-index: 2;
  overflow: hidden;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 57px;
  background-image: url("../img/promo-mobile-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
