.promo-video {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}

.promo-video__intro {
  width: 266px;
  margin-right: auto;
  padding-bottom: 34px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 445px;
    padding-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 77px;
  }
}

.promo-video__intro .intro__title {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: $titles-extra-big;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.promo-video__intro .intro__description {
  line-height: 24px;
}

.promo-video__container {
  max-width: 800px;
  max-height: 683px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}
