.site-list {
  @include list-style-none;
  /*margin: 0 auto;*/
  background-color: $background-highlighted;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-width: 723px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.site-list__item {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-width) {
    width: 20%;

    &:nth-child(2) {
      margin-right: auto;
    }
  }
}

.site-list__link {
  @include font($titles-font-size, 40px, bold);
  color: $extra-font-color;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    @include font($basic-font-size, 26px, bold);
    color: $basic-font-color;
  }

  &:hover,
  &:focus {
    background-color: $basic-button-hover;

    @media (min-width: $tablet-width) {
      background-color: $background-basic;
      color: $color-light-blue;
    }
  }

  &:active {
    background-color: $basic-button-active;

    @media (min-width: $tablet-width) {
      background-color: $background-basic;
      color: rgba($basic-font-color, 0.3);
    }
  }
}

.site-list__link--active {
  @media (min-width: $tablet-width) {
    color: $color-pine-cone;
  }

  &:hover,
  &:focus {
    @media (min-width: $tablet-width) {
      color: $color-kabul;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      color: rgba($color-pine-cone, 0.3);
    }
  }
}
