.social-list {
  @include list-style-none;
  display: flex;
}

.social-list__item {
  margin-right: 6px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.socila-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
}
