.social-list {
  @include list-style-none;
  display: flex;
}

.social-list__item {
  margin-right: 6px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  &:hover,
  &:focus {
    background-color: $basic-button-hover;
  }

  &:active {
    background-color: $basic-button-active;
  }
}
