.video-controls {
  width: 87.5%;
  height: 111px;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: rgba($color-black, 0.6);
    width: 100%;
    height: 93px;
  }
}

.video-controls__range-controls {
  position: relative;
  height: 45px;
  padding-top: 23px;
  padding-right: 23px;
  padding-left: 22px;
  box-sizing: border-box;
  background-color: rgba($color-black, 0.6);

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 71px;
    padding-top: 45px;
    background-color: transparent;
    height: 93px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    width: 562px;
  }
}

.video-controls__scale {
  height: 3px;
  background-color: rgba($color-white, 0.2);

  @media (min-width: $tablet-width) {
    width: 389px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.video-controls__bar {
  width: 18%;
  height: 3px;
  background-color: rgba($color-white, 0.4);

  @media (min-width: $tablet-width) {
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 21%;
  }
}

.video-controls__toggle {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: $color-white;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    top: 42px;
    left: 206px;
  }
}


.video-controls__buttons {
  background-color: $color-white-smoke;
  height: 66px;
  padding: 23px 22px 23px 23px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: absolute;
    bottom: 35px;
    left: 0;
    padding: 0 40px 0 35px;
    width: 100%;
    height: min-content;
  }
}

.video-controls__button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  border: none;

  &--restart {
    width: 16px;
    height: 20px;
    margin-right: auto;
  }

  &--subtitles {
    width: 32px;
    height: 20px;
    border: none;
    margin-right: 31px;

    @media (min-width: $tablet-width) {
      margin-right: 29px;
    }
  }

  &--full-screen {
    width: 22px;
    height: 22px;
  }
}

.video-controls__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: $color-darken-grey;

  @media (min-width: $tablet-width) {
    fill: $color-white;
  }
}

.video-controls__icon path {
  @media (min-width: $tablet-width) {
    fill: $color-white;
  }
}

.video-controls__button:hover .video-controls__icon,
.video-controls__button:focus .video-controls__icon {
  fill: $mine-shaft;

  @media (min-width: $tablet-width) {
    fill: rgba($color-white, 0.6);
  }
}

.video-controls__button:active .video-controls__icon {
  fill: rgba($mine-shaft, 0.3);

  @media (min-width: $tablet-width) {
    fill: rgba($color-white, 0.3);
  }
}
