.video-block {
  position: relative;
  padding-bottom: 66px;

  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video-block__movie {
  display: block;
  width: 320px;
  height: 201px;
  background: transparent url("../img/video-mobile@1x.jpg") no-repeat 0 0;

  @media (min-resolution: 2dppx) {
    background: transparent url("../img/video-mobile@2x.jpg") no-repeat 0 0;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    background: transparent url("../img/video-tablet@1x.jpg") no-repeat 0 0;

    @media (min-resolution: 2dppx) {
      background: transparent url("../img/video-tablet@2x.jpg") no-repeat 0 0;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 100%;
    background: transparent url("../img/video-desktop@1x.jpg") no-repeat 0 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: transparent url("../img/video-desktop@2x.jpg") no-repeat 0 0;
      background-size: cover;
    }
  }
}

.video-block__controls {
  position: absolute;
  bottom: 0;
  left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    left: 0;
    bottom: 93px;
  }
}
