//Colors
$color-black: #000000;
$color-black-opacity-high: rgba(0, 0, 0, 0.30);
$color-black-opacity-low: rgba(0, 0, 0, 0.60);
$color-white: #ffffff;
$color-white-opacity-high: rgba(1, 1, 1, 0.2);
$color-white-smoke: #F2F2F2;
$color-blue: #81B3D2;
$color-light-grey: #EEEEEE;
$color-dark-grey: #E6E6E6;
$color-darken-grey: #5C6870;
